@import "../../vendors/variables";

.MembersListItem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;

  box-sizing: border-box;

  &__body {
    background: $dark100;
    color: $white100;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: left;
  }

  &__avatar {
    height: 50px;

    & > img {
      height: 100%;
    }
  }

  &__name {
    display: grid;
    padding: 0 15px;

    &__main {
      align-self: center;
      justify-self: start;
      height: fit-content;

      font-family: Roboto, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: $white100;
    }

    &__bnet {
      align-self: start;
      justify-self: start;
      height: fit-content;

      font-family: Roboto, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;

      color: $gray100;

    }
  }

  &__online {

  }
}