.MembersListItem {
  display: grid;
  grid-auto-flow: column;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr;

  text-align: left;

  &__icon {
    height: 100px;
  }

  &__name {

  }

  &__online {

  }
}