@import "../../vendors/variables";

$margin: 30px;

.MembersList {
  display: grid;
  row-gap: 2px;
  margin-left: $margin;
  height: calc(100vh - #{60px});
  overflow-y: scroll;

  & > :last-child {
    margin-bottom: $margin;
  }

  &__item {
    height: 50px;
  }

  &__header {
    width: 100%;
    border-bottom: 1px solid $gray100;

    margin-top: $margin;

    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: $gray100;

    text-align: left;
  }
}