@import '../../vendors/variables';

.ActivityChart {

  &__main {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    width: fit-content;
  }

  &__col {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      "Sunday"
      "Monday"
      "Tuesday"
      "Wednesday"
      "Thursday"
      "Friday"
      "Saturday";

    row-gap: 5px;
    grid-auto-rows: 15px;
  }

  &__cell {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background-color: $gray100;
    position: relative;
    cursor: pointer;

    &:hover &__wrapper {
      display: block;
    }

    &:hover {
      border: 2px solid $dark100;
    }

    &__wrapper {
      position: absolute;
      display: none;
      background-color: $dark100;
      width: max-content;
      z-index: 1;
      left: -100%;
      bottom: 140%;
      color: $white100;
    }

    &__title {

    }

    &--done {
      background-color: $green100;
    }

    &--failed {
      background-color: $red100;
    }

    &--both {
      background-color: $yellow100;
    }
  }

  &__sun {
    grid-area: Sunday;
  }

  &__mon {
    grid-area: Monday;
  }

  &__tue {
    grid-area: Tuesday;
  }

  &__wed {
    grid-area: Wednesday;
  }

  &__thu {
    grid-area: Thursday;
  }

  &__fri {
    grid-area: Friday;
  }

  &__sat {
    grid-area: Saturday;
  }
}