@import "../../vendors/variables";

.section-header {
  width: 100%;
  border-bottom: 1px solid $gray100;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: $gray100;

  text-align: left;
}